<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../user-sidebar/css/user-sidebar.css">
    <link rel="stylesheet" href="css/user-dashboard.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Title</title>
</head>
<body>
<div id="user-sidebar-placeholder"></div>
<div class="content">
    <div class="for-us-content">
        <div class="table-border">
            <div class="for-us-column">
                <div class="dashboard-box">
                    <img class="box-img" src="../../../resources/car.png">
                    <h2 class="box-title shtat-color">5</h2>
                    <p class="box-data">Заети места от щатни преподаватели</p>
                </div>
            </div>
            <div class="dashboard-box">
                Box
            </div>
        </div>
        <div class="table-border">
            <div class="for-us-column">
                <div class="dashboard-box">
                    <img class="box-img" src="../../../resources/hon-car.png">
                    <h2 class="box-title hon-color">2</h2>
                    <p class="box-data">Заети места от хонорувани преподаватели</p>
                </div>
            </div>
            <div class="dashboard-box">
                Box 6
            </div>
        </div>
        <div class="table-border">
            <div class="for-us-column">
                <div class="dashboard-box">
                    <img class="box-img" src="../../../resources/stu-car.png">
                    <h2 class="box-title stu-color">1</h2>
                    <p class="box-data">Заети места от студенти</p>
                </div>
            </div>
            <div class="dashboard-box">
                Box 6
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        $("#user-sidebar-placeholder").load("../user-sidebar/user-sidebar.html");
    });
</script>
</html>
