<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ФМИ паркинг</title>
        <link rel="stylesheet" href="css/home_style.css">
        <script defer src="javascript/home.js"></script>
    </head>
    <body>
        <header class="site-header">
            <div class="site-identity">
                <h1><a href="#">ФМИ паркинг</a></h1>
            </div>
            <nav class="site-navigation">
                <ul class="nav">
                    <li><a href="#product-name">ФМИ</a></li>
                    <li><a href="#services">Услуги</a></li>
                    <li><a href="#insp-mot-goal">За нас</a></li>
                    <li><a href="#footer">Контакти</a></li>
                    <li id="to-login-page">Вход</li>
                </ul>
            </nav>
        </header>
        <div id="product-name" class="logo-background">
            <img class="logo" src="../../resources/logo.png">
            <h1 id="title">ФМИ ПАРКИНГ</h1>
        </div>
        <div id="services" class="services">
            <a href="../login/login.html">
                <div class="service-box">
                    <p class="service-txt">
                        Запази място за хоноруван преподавател
                    </p>
                </div>
            </a>
            <a href="../login/login.html">
                <div class="service-box">
                    <p class="service-txt">
                        Запази място за щатен преподавател
                    </p>
                </div>
            </a>
            <a href="../login/login.html">
                <div class="service-box">
                    <p class="service-txt">
                        Запази място за студент отличник
                    </p>
                </div>
            </a>
        </div>
        <div class="for-us">
            <h1 id="insp-mot-goal">Вдъхновение, мотивация и цели</h1>
<!--            <div class="for-us-content">-->
<!--                <div class="for-us-column">-->
<!--                    <div>-->
<!--                        Box 4-->
<!--                    </div>-->
<!--                    <img src="../../resources/balance.jpg">-->
<!--                </div>-->
<!--                <div class="for-us-column">-->
<!--                    <div id="box5">-->
<!--                        Box 5-->
<!--                    </div>-->
<!--                    <div id="box6">-->
<!--                        Box 6-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="for-us-column">-->
<!--                    <div>-->
<!--                        Box 8-->
<!--                    </div>-->
<!--                    <img src="../../resources/goal.png">-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <footer id="footer" class="site-footer">
            <h3><a href="#product-name">ФМИ паркинг</a></h3>
            <div class="contact-icons">
                <img src="../../resources/facebook.svg" alt="facebook">
                <img src="../../resources/instagram.svg" alt="instagram">
                <img src="../../resources/twitter.svg" alt="twitter">
            </div>
        </footer>
    </body>
</html>
