<div class="container" id="container">
    <div class="form-container left-container">
        <form id="login-form">
            <h1>Вход в системата</h1>
            <input type="text" placeholder="Потребителско име" required name="username-login" id="email">
            <input type="password" placeholder="Парола" required name="password-login" id="password">
            <button type="submit" id="login-button" onclick="login()">Вход</button>
            <div class="form-item no-show" id="response-message">
            </div>
        </form>
    </div>
    <div class="overlay-container">
        <img src="./resources/logo.png" alt="Parking system logo">
    </div>
</div>
