<nav class="main-menu">
  <h2 class="admin-title">{{}}</h2>
  <ul>
    <li class="has-subnav" id="dashboard">
      <a href="../user-dashboard/user-dashboard.html" class="menu-element">
        <i class="fa fa-solid fa-table"></i>
        <p class="nav-text">Табло</p>
      </a>
    </li>
    <li class="has-subnav" id="calendar">
      <a href="../calendar/calendar.html" class="menu-element">
        <i class="fa fa-solid fa-calendar"></i>
        <p class="nav-text">Календар</p>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#" class="menu-element">
        <i class="fa fa-solid fa-eye"></i>
        <p class="nav-text">Търси</p>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-power-off fa-2x"></i>
        <p class="nav-text">Изход</p>
      </a>
    </li>
  </ul>
</nav>
