<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/spot-picker.css">
    <link rel="stylesheet" href="../user-sidebar/css/user-sidebar.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="./javascript/form.js"></script>  
    <title>Save slot</title>
</head>
<body>
<div id="user-sidebar-placeholder"></div>
<div class="content">
    <div id="overlay"></div>
	<div class="container calendar">
		<div class="header">
			<div class="icon arr prev"></div>
			<div class="month">February 2023</div>
			<div class="icon arr next"></div>
		</div>
		<table id="table">
			<tr>
				<th>Нед</th><th>Пон</th><th>Вт</th><th>Ср</th><th>Четв</th><th>Пет</th><th>Съб</th>
			</tr>
		</table>
		<button class="button-big" id="add_event">Запази</button>
	</div>


	<form action="" class="container booking" name="booking">
		<!-- <div class="header">
			<div>
				<h2>Hotel Relais</h2>
				<div class="icon"></div>
				<p>Paris, France</p>
			</div>
		</div> -->
		
		<div class="dates" data-type="none">
			<label for="checkin">Начален час</label>
			<div class="input-text">
				<input type="datetime" value="9 July, 2016" id="checkin" readonly>
				<div class="icon pop-up" onclick="showCalendar()"></div>
			</div>

			<label for="checkout">Краен час</label>
			<div class="input-text">
				<input type="datetime" value="16 July, 2016" id="checkout" readonly>
				<div class="icon pop-up"></div>
			</div>
		</div>
		
		<ul class="persons">
			<li>
				<label>Зона</label>
				<div class="input-text">
					<select name="adults">
						<option value="1">ФМИ</option>
						<option value="2">ФЗФ</option>
						<option value="3">ФХФ</option>
					</select>
					<div class="icon"></div>
				</div>
			</li>
			<li>
				<label>Номер</label>
				<div class="input-text">
					<select name="children">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>   
					</select>
					<div class="icon"></div>
				</div>
			</li>
		</ul>

		<button class="button-big" id="search"><div class="icon"></div>Запази място</button>
	</form>
	<canvas width=900 height=500></canvas>
</div>
</body>
<script>
    $(function(){
        $("#user-sidebar-placeholder").load("../user-sidebar/user-sidebar.html");
    });
</script>

</html>