<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="../user-sidebar/css/user-sidebar.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Календар</title>
</head>
<body>
<div id="user-sidebar-placeholder"></div>
<div class="content">
    <div class="calendar">
        <div class="timeline">
            <div class="spacer"></div>
            <div class="time-marker">09:00</div>
            <div class="time-marker">10:00</div>
            <div class="time-marker">11:00</div>
            <div class="time-marker">12:00</div>
            <div class="time-marker">13:00</div>
            <div class="time-marker">14:00</div>
            <div class="time-marker">15:00</div>
            <div class="time-marker">16:00</div>
            <div class="time-marker">17:00</div>
            <div class="time-marker">18:00</div>
        </div>
        <div class="days">
            <div class="day mon">
                <div class="date">
                    <p class="date-day">Понеделник</p>
                </div>
                <div class="events">
                    <div class="event start-2 end-5 securities">
                        <p class="title">Securities Regulation</p>
                        <p class="time">2 PM - 5 PM</p>
                    </div>
                </div>
            </div>
            <div class="day tues">
                <div class="date">
                    <p class="date-day">Вторник</p>
                </div>
                <div class="events">
                    <div class="event start-10 end-12 corp-fi">
                        <p class="title">Corporate Finance</p>
                        <p class="time">10 AM - 12 PM</p>
                    </div>
                    <div class="event start-1 end-4 ent-law">
                        <p class="title">Entertainment Law</p>
                        <p class="time">1PM - 4PM</p>
                    </div>
                </div>
            </div>
            <div class="day wed">
                <div class="date">
                    <p class="date-day">Сряда</p>
                </div>
                <div class="events">
                    <div class="event start-12 end-1 writing">
                        <p class="title">Writing Seminar</p>
                        <p class="time">11 AM - 12 PM</p>
                    </div>
                    <div class="event start-2 end-5 securities">
                        <p class="title">Securities Regulation</p>
                        <p class="time">2 PM - 5 PM</p>
                    </div>
                </div>
            </div>
            <div class="day thurs">
                <div class="date">
                    <p class="date-day">Четвъртък</p>
                </div>
                <div class="events">
                    <div class="event start-10 end-12 corp-fi">
                        <p class="title">Corporate Finance</p>
                        <p class="time">10 AM - 12 PM</p>
                    </div>
                    <div class="event start-1 end-4 ent-law">
                        <p class="title">Entertainment Law</p>
                        <p class="time">1PM - 4PM</p>
                    </div>
                </div>
            </div>
            <div class="day fri">
                <div class="date">
                    <p class="date-day">Петък</p>
                </div>
                <div class="events">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function(){
        $("#user-sidebar-placeholder").load("../user-sidebar/user-sidebar.html");
    });
</script>
</html>
