<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="../user-sidebar/css/user-sidebar.css">
    <script defer src="../user-sidebar/javascript/user-sidebar.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="./javascript/calendar.js"></script>
    <title>Календар</title>
</head>
<body>
<div id="user-sidebar-placeholder"></div>
<div class="content">
    <div class="calendar">
        <div class="timeline">
            <div class="spacer"></div>
            <div class="time-marker">09:00</div>
            <div class="time-marker">10:00</div>
            <div class="time-marker">11:00</div>
            <div class="time-marker">12:00</div>
            <div class="time-marker">13:00</div>
            <div class="time-marker">14:00</div>
            <div class="time-marker">15:00</div>
            <div class="time-marker">16:00</div>
            <div class="time-marker">17:00</div>
            <div class="time-marker">18:00</div>
        </div>
        <div class="days">
            <div class="day mon">
                <div class="date">
                    <p class="date-day">Понеделник</p>
                </div>
                <div id="monday" class="events">

                </div>
            </div>
            <div class="day tues">
                <div class="date">
                    <p class="date-day">Вторник</p>
                </div>
                <div id="tuesday" class="events">

                </div>
            </div>
            <div class="day wed">
                <div class="date">
                    <p class="date-day">Сряда</p>
                </div>
                <div id="wednesday" class="events">

                </div>
            </div>
            <div class="day thurs">
                <div class="date">
                    <p class="date-day">Четвъртък</p>
                </div>
                <div id="thursday" class="events">
                    
                </div>
            </div>
            <div class="day fri">
                <div class="date">
                    <p class="date-day">Петък</p>
                </div>
                <div id="friday" class="events">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function(){
        $("#user-sidebar-placeholder").load("../user-sidebar/user-sidebar.html");
    });
</script>
</html>
