<link rel="stylesheet" href="css/admin-sidebar.css">
<meta charset="UTF-8">
<nav class="main-menu">
    <h2 class="admin-title">АДМИН</h2>
    <ul>
        <li class="has-subnav" id="dashboard">
            <a href="../admin-dashboard/admin-dashboard.html" class="menu-element">
                <i class="fa fa-solid fa-table"></i>
                <p class="nav-text">Табло</p>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#" class="menu-element">
                <i class="fa fa-solid fa-file fa-2x"></i>
                <p class="nav-text">Доклад</p>
            </a>
        </li>
        <li class="has-subnav" id="add-user">
            <a href="../add-user/add-user.html" class="to-add-user">
                <i class="fa fa-solid fa-user"></i>
                <p class="nav-text">Добави потребител</p>
            </a>
        </li>
        <li class="has-subnav" id="add-program">
            <a href="../add-user-program/add-program.html" class="to-add-user">
                <i class="fa fa-solid fa-plus"></i>
                <p class="nav-text">Добави предмет</p>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#" class="menu-element">
                <i class="fa fa-thin fa-exclamation"></i>
                <p class="nav-text">Наказания</p>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#" class="menu-element">
                <i class="fa fa-solid fa-eye"></i>
                <p class="nav-text">Търси</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <p class="nav-text">Изход</p>
            </a>
        </li>
    </ul>
</nav>

