<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/add-user.css">
  <link rel="stylesheet" href="../admin-sidebar/css/admin-sidebar.css">
  <script defer src="javascript/add-user.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <title>Добави потребител</title>
</head>
<body>
<div id="sidebar-placeholder"></div>
<div class="container" id="container">
        <div class="form-container left-container">
            <img src="../../../resources/logo.png" alt="Parking system logo">
        </div>
        <div class="overlay-container">
            <form id="registration-form">
                <h1>Създай акаунт</h1>

                <div class="wrapper">
                <!-- first name -->
                <input type="text" placeholder="Име" autocomplete="off" required name="first_name" id="firstname">

                <!-- last name -->
                <input type="text" placeholder="Фамилия" autocomplete="off" required name="last_name" id="lastname">
              </div>

              <div class="wrapper">
                <!-- user sex -->
                <select name="gender" id="sex" class="custom-select">
                  <option value="MALE">Мъж</option>
                  <option value="FEMALE">Жена</option>
                </select>

                <!-- car number -->
                <input type="text" placeholder="Номер на кола" autocomplete="off" required name="car_number" id="car_number">
              </div>

                <!-- email -->
                <input type="email" placeholder="Имейл" required name="email" id="email">

                <!-- password -->
                <input type="password" placeholder="Парола" required name="password" id="password">

                <!-- repeat password -->
                <input type="password" placeholder="Повторете паролата" required name="repeat_password" id="repeat-password">

                <!-- user type -->
                <select name="status" id="user-type" class="custom-select">
                  <option value="FULL_TIME_LECTURER">Щатен преподавател</option>
                  <option value="CONTRACT_LECTURER">Хоноруван преподавател</option>
                  <option value="RESTRICTED_ACCESS">Студент</option>
                </select>

                <!-- submit button -->
                <button type="submit" id="register-button" onclick="addUser()">Регистриране</button>

                <!-- response when a field was incorrect -->
                <div class="form-item no-show" id="response-message-register">
                </div>
              </form>
        </div>
    </div>
</body>
<script>
    $(function(){
        $("#sidebar-placeholder").load("../admin-sidebar/admin-sidebar.html");
    });
</script>
</html>
