<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../admin-sidebar/css/admin-sidebar.css">
    <link rel="stylesheet" href="css/admin-dashboard.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../admin-sidebar/javascript/sidebar.js"></script>
    <script src="./javascript/admin-dashboard.js"></script>
    <title>Заглавие</title>
</head>
<body>
<div id="admin-sidebar-placeholder"></div>
<div class="content">
    <div class="for-us-content">
        <div class="table-border">
            <div class="for-us-column">
                <div class="dashboard-box">
                    <img class="box-img" src="../../../resources/car.png">
                    <h2 class="box-title shtat-color" id="shtat-count"></h2>
                    <p class="box-data">Заети места от щатни преподаватели</p>
                </div>
            </div>
            <div class="dashboard-box">
                <img class="box-img" src="../../../resources/stu-car.png">
                <h2 class="box-title stu-color" id="stu-count"></h2>
                <p class="box-data">Заети места от студенти</p>
            </div>
        </div>
        <div class="table-border">
            <div class="for-us-column">
                <div class="dashboard-box">
                    <img class="box-img" src="../../../resources/hon-car.png">
                    <h2 class="box-title hon-color" id="hon-count"></h2>
                    <p class="box-data">Заети места от хонорувани преподаватели</p>
                </div>
            </div>
            <div class="dashboard-box">
                <img class="box-img" src="../../../resources/free-car.png">
                <h2 class="box-title free-color" id="free-count">5</h2>
                <p class="box-data">Свободни места</p>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function(){
        $("#admin-sidebar-placeholder").load("../admin-sidebar/admin-sidebar.html");
    });
</script>
</html>
