<div>
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <script src="sidebar.js"></script>
  <nav class="main-menu">
    <h2 class="admin-title">АДМИН</h2>
    <ul>
      <li>
        <a href="https://jbfarrow.com" class="menu-element">
          <i class="fa fa-solid fa-table"></i>
          <p class="nav-text">Табло</p>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#" class="menu-element">
          <i class="fa fa-solid fa-calendar"></i>
          <p class="nav-text">Календар</p>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#" class="menu-element">
          <i class="fa fa-solid fa-file fa-2x"></i>
          <p class="nav-text">Доклад</p>
        </a>
      </li>
      <li class="has-subnav">
        <a href="../admin/add-user/add-user.html" class="menu-element">
          <i class="fa fa-solid fa-user"></i>
          <p class="nav-text">Добави потребител</p>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#" class="menu-element">
          <i class="fa fa-thin fa-exclamation"></i>
          <p class="nav-text">Наказания</p>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#" class="menu-element">
          <i class="fa fa-solid fa-eye"></i>
          <p class="nav-text">Търси</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <p class="nav-text">Изход</p>
        </a>
      </li>
    </ul>
  </nav>
</div>
