<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="navigation">
    <object type="text/html" data="../../sidebar/sidebar.html"></object>
    <link rel="stylesheet" type="text/css" href="../../sidebar/style.css">
<!--    <script src="../../sidebar/sidebar.js"></script>-->
</div>
<!--<div class="content">-->
<!--    <div class="for-us-content">-->
<!--        <div class="table-border">-->
<!--            <div class="for-us-column">-->
<!--                <div class="dashboard-box">-->
<!--                    <img class="box-img" src="../../../resources/car.png">-->
<!--                    <h2 class="box-title shtat-color">5</h2>-->
<!--                    <p class="box-data">Заети места от щатни преподаватели</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="dashboard-box">-->
<!--                Box-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="table-border">-->
<!--            <div class="for-us-column">-->
<!--                <div class="dashboard-box">-->
<!--                    <img class="box-img" src="../../../resources/hon-car.png">-->
<!--                    <h2 class="box-title hon-color">2</h2>-->
<!--                    <p class="box-data">Заети места от хонорувани преподаватели</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="dashboard-box">-->
<!--                Box 6-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="table-border">-->
<!--            <div class="for-us-column">-->
<!--                <div class="dashboard-box">-->
<!--                    <img class="box-img" src="../../../resources/stu-car.png">-->
<!--                    <h2 class="box-title stu-color">1</h2>-->
<!--                    <p class="box-data">Заети места от студенти</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="dashboard-box">-->
<!--                Box 6-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>
