<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <link rel="stylesheet" href="css/dashboard.css">
    <meta charset="UTF-8">
    <nav class="main-menu">
        <h2 class="admin-title">АДМИН</h2>
        <ul>
            <li class="has-subnav" id="dashboard">
                <a href="dashboard.html" class="menu-element">
                    <i class="fa fa-solid fa-table"></i>
                    <p class="nav-text">Табло</p>
                </a>

            </li>
            <li class="has-subnav" id="calendar">
                <a href="#" class="menu-element">
                    <i class="fa fa-solid fa-calendar"></i>
                    <p class="nav-text">Календар</p>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#" class="menu-element">
                    <i class="fa fa-solid fa-file fa-2x"></i>
                    <p class="nav-text">Доклад</p>
                </a>
            </li>
            <li class="has-subnav" id="add-user">
                <a href="../add-user/add-user.html" class="to-add-user">
                    <i class="fa fa-solid fa-user"></i>
                    <p class="nav-text">Добави потребител</p>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#" class="menu-element">
                    <i class="fa fa-thin fa-exclamation"></i>
                    <p class="nav-text">Наказания</p>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#" class="menu-element">
                    <i class="fa fa-solid fa-eye"></i>
                    <p class="nav-text">Търси</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <p class="nav-text">Изход</p>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="content">
    <div class="for-us-content">
        <div class="table-border">
            <div class="for-us-column">
                <div class="dashboard-box">
                    <img class="box-img" src="../../../resources/car.png">
                    <h2 class="box-title shtat-color">5</h2>
                    <p class="box-data">Заети места от щатни преподаватели</p>
                </div>
            </div>
            <div class="dashboard-box">
                Box
            </div>
        </div>
        <div class="table-border">
            <div class="for-us-column">
                <div class="dashboard-box">
                    <img class="box-img" src="../../../resources/hon-car.png">
                    <h2 class="box-title hon-color">2</h2>
                    <p class="box-data">Заети места от хонорувани преподаватели</p>
                </div>
            </div>
            <div class="dashboard-box">
                Box 6
            </div>
        </div>
        <div class="table-border">
            <div class="for-us-column">
                <div class="dashboard-box">
                    <img class="box-img" src="../../../resources/stu-car.png">
                    <h2 class="box-title stu-color">1</h2>
                    <p class="box-data">Заети места от студенти</p>
                </div>
            </div>
            <div class="dashboard-box">
                Box 6
            </div>
        </div>
    </div>
</div>
</body>
</html>
